#Dependency directories
node_modules/

#Hardhat cache, artifacts, and network files
cache/
artifacts/
coverage/
gas-report.txt

#Environment variable files
.env

#Security and secrets
*.secret
/metadata

